---
import ThemeToggle from "./themeToggle";
---

<nav
  class="w-full fixed top-0 inset-x-0 p-3 bg-stone-300 dark:bg-black border-b border-black dark:border-primary"
>
  <div class="flex my-auto">
    <div class="navbar-start flex items-center">
      <a href="/" class="text-xl">JKinsight Blaze</a>
    </div>
    <div class="navbar-end flex items-center gap-2">
      <ThemeToggle client:only />
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-base-100 rounded-btn">Dropdown</label
        >
        <ul
          tabindex="0"
          class="menu dropdown-content p-2 shadow bg-stone-300 dark:bg-black rounded-box border w-52 mt-6 border-black dark:border-primary"
        >
          <li><a>Item 1</a></li>
          <li><a>Item 2</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
