---
import RootLayout from "../layouts/rootLayout.astro";
---

<RootLayout>
  <div
    class="flex text-center align-middle items-center justify-center w-full gap-2 h-screen"
  >
    <span class="text-accent font-extrabold">About</span>
    <span class="text-primary font-extrabold text-4xl">Me</span>
  </div>
</RootLayout>
