---
import TailwindInject from "./_parts/tailwindInject.astro";
import ThemeSwitch from "./_parts/themeSwitch.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <title>{`${title ? title + " | " : ""}JKinsight Flash 🚀`}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <TailwindInject />
    <ThemeSwitch />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
