---
import MetaTags from "./_parts/metaTags.astro";
import TailwindInject from "./_parts/tailwindInject.astro";
import ThemeSwitch from "./_parts/themeSwitch.astro";
import Navbar from "./navbar/navbar.astro";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <title>{`${title ? title + " | " : ""}JKinsight Flash 🚀`}</title>
    <meta
      name="description"
      content={`${title ? title + " | " : ""}JKinsight Flash 🚀`}
    />
    <MetaTags />
    <TailwindInject />
    <ThemeSwitch />
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
    </main>
  </body>
</html>
