---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <title>{`${title ? title + " | " : ""}JKinsight Flash 🚀`}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <style is:global>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;
    </style>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
